Construction of the Rio de Janeiro-Sao Paulo gas line for Petrobras represents a landmark within Brazilian energy development since the system interconnects the main South America industrial center located in Sao Paulo state to the Campos basin. This basin, one of the gas and oil offshore producing areas, has the fastest development in the world and is responsible for over 50% of Brazilian oil and natural gas production. This paper discuses the various terrain characteristics, logistics and construction details for this project.