0.7140255101361532;system;interconnect;South America industrial center locate in Sao Paulo state to Campos basin
0.7140255101361532;system;interconnect;main South America industrial center locate in Sao Paulo state
0.7140255101361532;system;interconnect;South America center locate to Campos basin
0.7140255101361532;system;interconnect;main South America industrial center locate
0.7140255101361532;system;interconnect;South America industrial center locate to Campos basin
0.7140255101361532;system;interconnect;South America center locate
0.7140255101361532;system;interconnect;South America industrial center locate in Sao Paulo state
0.7140255101361532;system;interconnect;main South America center locate in Sao Paulo state
0.7140255101361532;system;interconnect;main South America center locate
0.7140255101361532;system;interconnect;South America center locate in Sao Paulo state to Campos basin
0.7140255101361532;system;interconnect;South America industrial center locate
0.7140255101361532;system;interconnect;main South America center locate to Campos basin
0.7140255101361532;system;interconnect;South America center locate in Sao Paulo state
0.7140255101361532;system;interconnect;main South America industrial center
0.7140255101361532;system;interconnect;main South America center
0.7140255101361532;system;interconnect;main South America industrial center locate to Campos basin
0.7140255101361532;system;interconnect;South America industrial center
0.7140255101361532;system;interconnect;main South America industrial center locate in Sao Paulo state to Campos basin
0.7140255101361532;system;interconnect;South America center
0.7140255101361532;system;interconnect;main South America center locate in Sao Paulo state to Campos basin
1.0;basin;have;development
1.0;basin;have;development in world
1.0;fastest development;in;world
1.0;paper;discus;various terrain characteristic
1.0;paper;discus;various terrain characteristic for project
1.0;paper;discus;terrain characteristic for project
1.0;paper;discus;terrain characteristic
0.3333333333333333;terrain characteristic;paper;construction detail
0.3333333333333333;various terrain characteristic;paper;logistics
0.3333333333333333;various terrain characteristic;paper;construction detail
0.3333333333333333;terrain characteristic;paper;logistics
