{% macro setup_graph(url) %}
<div id="graph-container"></div>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="{{ url_for('static', filename='results/graphs/index.js') }}"></script>
{% endmacro %}