#display {
  overflow: auto;
  height: 100%;
  width: 100%;
}

#info {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.display-svg {
  height: 100%;
  width: 100%;
}

.load-button {
  position: absolute;
  font-size: large;
  background-color: #1f657a;
  color: white;
  border: 0;
  padding: 0.75rem 1.5rem;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.refresh-button {
  position: absolute;
  font-size: large;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.toggle-text-button {
  position: absolute;
  font-size: large;
  top: 2.5rem;
  right: 2rem;
  cursor: pointer;
}

.strength-inputs {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

.node-text {
  font-size: small;
  fill: white;
  font-family: 'Courier New', Courier, monospace;
  text-shadow:
      -0.6px -0.6px 0 #000,
      0      -0.6px 0 #000,
      0.6px  -0.6px 0 #000,
      0.6px  0      0 #000,
      0.6px  0.6px  0 #000,
      0      0.6px  0 #000,
      -0.6px 0.6px  0 #000,
      -0.6px 0      0 #000;
}

.synonym {
  stroke: black;
}

.relationship {
  stroke: gray;
}

.red-stroke {
  stroke: red;
}

.hidden {
  display: none;
}
